SUPABASE_URL = "https://pevdwhbrhukzugrygibg.supabase.co""
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBldmR3aGJyaHVrenVncnlnaWJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNTE0MTMsImV4cCI6MjA5NjgyNzQxM30.MK9AeOp-DLFgF_wItw4vmjLCF7SYLFyyDYxQQPfI2-M"
 